.mb-3 {
    color: #000000;
    font-weight: 300;
    font-size: medium;
}
.footer-link {
    color: #333;
    text-decoration: none;
    transition: text-decoration 0.2s;
    line-height: 2.5;
    font-size: small;
}
.footer-link:hover {
    color: #333;
    text-decoration: none;
}

.mb-3::after {
    opacity: 0.1;
    content: '';
    display: block;
    border-bottom: 0.5px solid #333;
    margin-top: 5px;
}
